@charset: 'utf-8';
/*
 * fluid layout
 * @author ExFly
 * @email exfly@outlook.com
 */

.center {
	float: none;
	margin: 0 auto;
}

/* position */
.main {
	width: 20rem;
	height: 20rem;
}
.card1 {
	width: 10rem;
	height: 10rem;
	background: #555;
	position: absolute;
	top: 1rem;
	left: 0;
}
.card2 {
	position: absolute;
	top: 21rem;
	left: 0;
	width: 10rem;
	height: 10rem;
	background: red;
}