<!DOCTYPE html>
<html>
<head>

  <title>display</title>
  <link rel="stylesheet" type="text/css" href="../lib/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/layout.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/debug.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <style type="text/css">
    .d {
      /*当使用inline-block的时候会有一条缝隙*/
      /*http://www.zhangxinxu.com/wordpress/2012/04/inline-block-space-remove-%E5%8E%BB%E9%99%A4%E9%97%B4%E8%B7%9D/*/
      /*float: left;*/
      /*display: inline-block;*/
      /*display: inline;*/
      width: 5rem;
      height: 5rem;
      background: #0f0;
    }
  </style>
</head>
<body>
<div class="d"></div>
<div class="d"></div>
<div class="d"></div>
<div class="d"></div>
<div class="d"></div>
</body>
</html>