

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>流式布局</title>
  <link rel="stylesheet" type="text/css" href="../lib/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/layout.css">
  <link rel="stylesheet" type="text/css" href="../lib/css/debug.css">
  <style type="text/css">
    .column{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
  
  	<div class="row">
      <div class="column third">
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
      <div class="column third">
        <p>tt</p>
      </div>
      <div class="column third">
        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
      </div>
    </div>

    <div class="row">
      <div class="column half">
        <p>cccccccccccccccccccccccccccccccccccccccccccc</p>
      </div>
      <div class="column half">
        <p>dddddddddddddddddddddddddddddddddddddddddddd</p>
      </div>
    </div>

    <div class="row">
      <div class="column half">
        <p>eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
      </div>
      <div class="column half">
        <p>ffffffffffffffffffffffffffffffffffffffffffff</p>
      </div>
    </div>
</div>
</body>
</html>