<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">
  <Appenders>
  	<!-- Console -->
  	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    
    <!-- RuningFile -->
    <RollingFile name="RuningFile" append="true" fileName="log/runinglog.log"
                 filePattern="log/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <!-- RuningFile end -->
    
    <!-- SafeFile -->
    <RollingFile name="SafeFile" append="true" fileName="log/safelog.log"
                 filePattern="log/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <!-- SafeFile end -->
    
  </Appenders>
  <Loggers>
    <Logger name="runing" level="trace" additivity="true">
        <AppenderRef ref="RuningFile"/>
    </Logger>
    <Logger name="safe" level="trace" additivity="true">
        <AppenderRef ref="SafeFile"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
