@charset 'utf-8';

@import "mixins";
@import "setting";
@import "bootstrap/normalize";

@import "reboot";
@import "components";

/* 来自此 https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_clearfix.scss */
/* 布局 */
.clearfix {
  @include clearfix();
}
%decoration {
  text-decoration: none;
}

.navbar {
  ul {
    margin: 0;
    padding: 0;

  }
  li {
    display: inline;
    // list-style: none;

  }

  .group {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }


  /* @style */
  line-height: 1.7;
  background-color: #785085;
  font-weight: bold;
  a:link {
    color: #fff;
    @extend %decoration;
  }
  a:visited {
    color: #fff;
    @extend %decoration;
  }
  a:hover {
    color: #eee;
    @extend %decoration;
  }
  a:active {
    color: #eee;
  }
}

.banner {
  width: 100%;
  height: 8rem;
  max-width: 1366px;
  position: relative;
  margin: 0 auto;
  
  background: url("../images/headerbackground.png") repeat-x;

  .container {
    width: 80%;
    margin: 0 auto;
  }
  .container div, form{
    display: inline-block;
  }
  .container::after {
    @include clearfix();
  }
}

.nav {
  width: 70%;
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
  ul {
    margin: 0;
    padding:0;
  }
  li {
    display: inline-block;
  }
  a:link {
    color: #000;
    @extend %decoration;
  }
  a:visited {
    color: #000;
    @extend %decoration;
  }
  a:hover {
    color: #555;
    @extend %decoration;
  }
  a:active {
    color: #000;
  }
  padding:0.7rem 0;
  font-size: 1.20rem;
  font-weight: bold;
}

.jumu {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  position:relative;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.container {
  ul, p, li {
    margin: 0;
    padding:0;
  }
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  .left {
    width: 33.3%;
    float: left;

    padding:1rem 0;

    .news-title {
      padding:0.4rem 0;
      span {
        color: #418758;
      }
    }
    .border {
      border: 1px solid #ccc;
    }
    p {
      line-height: 1.5;
      padding:0.7rem 0;
    }
    p::before {
      content: '缩进';
      color: #fff;
    }
  }
  .right {
    width: 66.7%;

    float: left;
    .news-title {
      float:right;

      padding:0.5rem 0;
    }
    .border {

      ul {
      }
      li {
        img {
          padding-right:0.5rem;
        }
        list-style: none;
        width: 50%;
        float: left;
        padding:0.2rem 0.2rem;
      }
      padding:0.5rem;
      border: 1px solid #ccc;
      border-top: 2px solid #688c00;
    }

    padding: 0.5rem;
  }
}
  .container::after {
    @include clearfix();
  }

.news {
  li {
    list-style: none;
  }
  .col-3 {
    width: 33.3%;
    float: left;

    padding:0 0.5rem;

    .group {

      border-bottom: 1px solid #aaa;

      .left {
        float: left;
        width: 12rem;

        span {
          color: #418757;
        }
      }
      .right {
        width: 5rem;
        float: right;
        img {
          width: 1rem;
        }
      }
      .right::after {
        @include clearfix();
      }
    }  
  }
  li {
    list-style: none;
    line-height: 1.7rem;
  }
}
  .container::after {
    @include clearfix();
  }

.main-footer {
  background-color: #e0e0e0;
  ul, li {
    padding:0;
    margin: 0;
    list-style: none;
  }

  .footer-nav {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;

    text-align: center;
    section {
      width: 16.6%;
      float: left;

      line-height: 1.5;
      .qcode {
        width: 3rem;
        margin:0 3rem;
      }
    }

    h1 {
      font-size: 1.5rem;
    }
  }
  .lianjie {
    
    li {
      font-size: 0.7rem;
      display: inline-block;
    }
  }
  .copyright {
    text-align: center;
    height: 4rem;
    line-height: 4rem;

    background-color: #111111;
    color: #e9e9e9;
  }
}




/* profile页面 */
.prf-container {
  width: 60%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 7%;
  aside {
    width: 15%;
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    position: fixed;
    left: 10%;
    top: 30%;
    ul, li {
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 1.2rem;
      line-height: 1.5;
      border: solid 1px #ccc;
    }
    a {
      display: block;
      &:link {color:#000;}
      &:visited {color:#111;}
      &:hover {color:#222;}
      &:active {color:#222;}
      @extend %decoration;      
    }
  }
  article {

    margin-bottom: 2rem;
    .h1 {
      font-size: 2;
      text-align: center;
      color: #88507d;
      height: 2.5;
      line-height: 2.5;

      border-bottom: solid 1px #aaa;
    }
    p {
      line-height: 1.7;
    }
    p::before {
        content: "空格";
        color:#fff;
      }
    .h2 {
      color: #88507d;
      font-size: 1.9rem;
    }
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      float:left;
      width:50%;
      padding: 0 1rem;
      line-height: 1.7rem;
    }
    li::before {
      content: url("../images/jiantou.gif");
      padding-right:0.5rem;
    }
    section {
    }
  }
}

