@charset 'utf-8';

ul, li {
  padding: 0 0;
  margin: 0 0;
}

.clear {
  clear: both;
}
/* @component */
/* @nav */
.nav-horizontal *{
  display: inline-block;
}
.nav-vertical {}

/* 局部特殊style */
/*@top*/
.top {
  margin: 0 2rem;
  padding: 0.3rem 0;
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
}

/*@banner*/
.banner {
  max-width: 1024px;
  text-align: center;
  background-image: url("../images/headerbackground.png");
  background-repeat:repeat-x;

  form {
    display: inline-block;
  }
}

/*@nav*/
.nav {
  text-align: center;
  ul {
    margin: 1rem 0;
    padding: 0 0;
  }
}

/*@jumu*/
.jumu {
  *{
    display: inline-block;
  }
  ul {
    margin: 0 0;
    padding: 0 0;
  }
}

/*@container*/
.container {
  margin: 0 auto;
  width:90%;
  min-width: 50rem;
}

/*@news*/
.news-title {
  display: inline-block;
}
.news-left{
  display: inline-block;
  width: 30%;
  position: relative;
  top:0;
  p {
    word-wrap:break-word;//折行
  }
}
.news-right{
  display: inline-block;
  width: 69%;
  li {
    display: inline-block;
    width: 49%;
  }
  img{
    display: inline-block;
    width: 30%;
  }
  .news-con {
    display: inline-block;
    width: 68%;
  }
}
.img {
  width: 100%;
}

.news {
  .col-3 {
    display: inline-block;
    width: 30%;
  }
  .left .right {
    display: inline-block;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  li{
    list-style: none;
  }
}


/*@footer*/
.footer-nav {
  width: 90%;
  margin: 0 auto;
  section{
   display: inline-block;
    width: 15%;
  }
}

.inline-block li {
  display: inline-block;
}

.copyright {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  vertical-align: middle;
}
